/* ESTILOS GERAIS */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, transparent, rgba(20, 0, 136, 0.3));
}

.footer-rodape{
    background-color: rgb(255, 255, 255);
    position: static;
    width: 100%;
    line-height: 80px;
    bottom: 0;
}

.footer-rodape>p{
    margin-left: 300px;
}

/* PAGINA INICIAL */
.container-links-paginas{
    margin-top: 150px;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.container-links-paginas>a{
    color: black;
    margin: 6%;
    text-decoration: none;
}

.container-links-paginas>a{
    padding: 10px;
}

.container-links-paginas>a:hover{
    border: 1px solid rgb(10, 10, 10);
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.container-links-paginas>a:active{
    color: rgb(110, 132, 255);
    border: 1px solid rgb(110, 132, 255);
}

.container-apresentacao{
    text-align: center;
    margin-top: 200px;
    margin-right: auto;
    margin-bottom: 10%;
    transform: scale(1.2);
}

.container-links-redes{
    margin-top: 10px;
    margin: auo;
    margin-bottom: 160px;
    text-align: center;
}

.links-redes{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.links-redes:hover{
    color: rgb(255, 255, 255);
    padding: 3px 10px;
    transition: .5s ease-in-out;
}

.links-redes:active{
    color: rgb(150, 150, 150);
    
}

/* PAGINA PROJETOS */

.vazia{
    margin-top: 700px;
}

/* PAGINA SOBRE */

.texto-sobre-mim1{
    margin-top: 130px;
    margin-left: 10%;
    width: 30%;
    text-align: center;
    transform: scale(1.2);
}
.texto-sobre-mim1:hover{
    padding: 50px 50px;
    transition: .5s ease-in-out;
    transform: scale(1.4);
}

.texto-sobre-mim2{
    margin-top: 100px;
    margin-left: 30%;
    width: 30%;
    text-align: center;
    transform: scale(1.2);
}

.texto-sobre-mim2:hover{
    padding: 50px 50px;
    transition: .5s ease-in-out;
    transform: scale(1.4);
}

.texto-sobre-mim3{
    margin-top: 100px;
    margin-left: 50%;
    margin-bottom: 6%;
    width: 30%;
    text-align: center;
    transform: scale(1.2);
}

.texto-sobre-mim3:hover{
    padding: 50px 50px;
    transition: .5s ease-in-out;
    transform: scale(1.4);
}

/* PAGINA CONTATO */

.frase-contato{
    text-align: center;
    margin-top: 130px;
    transform: scale(1.2);
    font-family:fantasy
}

.container-tabela{
    margin: auto;
    transform: scale(1.5);
    padding: 200px ;
}

#container-tabela-tr{
    padding: 10px;
}

.texto-tabela{
    text-align: left;
}

.texto-tabela1{
    text-align: left;
    padding: 5px 100px 0px 2px
}

.texto-tabela2{
    text-align: left;
    padding: 5px 0px 0px 2px
}